apiVersion: v1
kind: Service
metadata:
  name: {{ include "task-web.fullname" . | default (printf "%s-web" .Release.Name) }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app: task-web
