replicaCount: 2
image:
  repository: ghcr.io/cyprus7/testtask/backend
  tag: "361843fc1f7aac64bebf84d861c7c29238f11c4e"
imagePullSecrets:
  - name: regcred
service:
  type: ClusterIP
  port: 3000
config:
  nodeEnv: production
  redisHost: redis-master.databases.svc.cluster.local
  redisPort: 6379
  redisDb: 1
  port: 3000
  taskNotificationQueue: task-notifications
  dueSoonThresholdHours: 24
secret:
  create: false
  existingSecret: task-manager-secrets
  databaseUrlKey: DATABASE_URL
migrations:
  enabled: true
  ttlSecondsAfterFinished: 600
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: task20251104.test.chernov.us
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - task20251104.test.chernov.us
      secretName: task-manager-tls
