image:
  repository: ghcr.io/cyprus7/testtask/frontend
  tag: "a5809fada874c31d9178b605f51f4b343a53d9c3"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: task20251104.test.chernov.us
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts: [task20251104.test.chernov.us]
      secretName: task-manager-tls
env:
  PORT: "3000"
  HOST: "0.0.0.0"
  NEXT_PUBLIC_API_URL: "/api"
livenessProbe:
  enabled: true
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 15
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
readinessProbe:
  enabled: true
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
startupProbe:
  enabled: false
  httpGet:
    path: /
    port: 3000
  failureThreshold: 30
  periodSeconds: 5
resources:
  requests: {cpu: 50m, memory: 64Mi}
  limits: {cpu: 300m, memory: 256Mi}
