image:
  repository: ghcr.io/cyprus7/testtask/frontend
  tag: "77e307b50c5ffe3caf27a8cc9237233fa0c4e275"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: task20251104.test.chernov.us
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts: [task20251104.test.chernov.us]
      secretName: task-manager-tls
resources:
  requests: {cpu: 50m, memory: 64Mi}
  limits: {cpu: 300m, memory: 256Mi}
